@tailwind base;
@tailwind components;
@tailwind utilities;






#heading{
  text-align: center;
  font-size: xx-large;
  color: aqua;

}
#List0{
  color: blue;
  font-size: xx-large;
}
#List1{
  color: blueviolet;
  font-size: xx-large;
}

#button{
  color: red;
  font-size: xx-large;
}
body{
  text-align:center;
  background-color: bisque;
  flex: center;
}
#List2{
  color: brown;
}